.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #2B3467;
    color: white;
    margin-bottom: 80px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.buttons {
    display: flex;
    gap: 20px;
}

.signup-button, .login-button, .logout-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #FCFFE7;
}

.signup-button:hover, .login-button:hover, .logout-button:hover {
    background-color: #EB455F;
}
